@import "tailwindcss";

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans Variable", system-ui, sans-serif;
}

.btn-primary {
  @apply text-center tracking-wide font-bold text-base py-2 px-4 bg-blue-600 w-fit h-fit text-white rounded-full hover:bg-orange-400 duration-300 ease-in-out;
}

.btn-accent {
  @apply text-center tracking-wide font-bold text-base py-2 px-4 bg-orange-400 w-fit h-fit text-white rounded-full hover:bg-blue-600 duration-300 ease-in-out;
}

.btn-secondary {
  @apply text-center tracking-wide font-bold text-base py-2 px-4 bg-gray-100 w-fit h-fit text-blue-600! rounded-full hover:bg-blue-600 hover:text-white! duration-300 ease-in-out;
}

.btn-transparent {
  @apply text-center tracking-wide font-bold text-base py-2 px-4 border bg-transparent w-fit h-fit text-gray-100 rounded-full hover:bg-gray-100 hover:text-blue-600 duration-300 ease-in-out;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  border: 0;
}

/* // what we offer -> colocar mais UVP, explicar melhor, treinamento seguro, condizente FAA, confiabiliade, simuladores configuraveis pro mesmo aviao que tu treina,
// view courses -> white button
// form
// special offer -> pattern
// CTA Discovery Session */

.btn-main {
  background: #fff;
  color: #111;
  margin-right: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16);
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.btn-main:hover {
  transform: translateY(-2px);
  background: oklch(62.3% 0.214 259.815);
  color: #fff;
}

.btn-second {
  background: transparent;
  color: #e06900 !important;
  border: 2px solid rgba(255, 255, 255, 0.85);
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.btn-second:hover {
  background: #fff;
  color: oklch(62.3% 0.214 259.815);
}

.btn-enroll {
  background: #007ecb !important;
  color: #fff;
  margin-right: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16);
  border-radius: 1.5rem;
  padding: 4px 6px;
}

.btn-enroll:hover {
  background: #e06900 !important;
  color: #fff;
}
