---
const leftImage = '/src/assets/student using simulator 2.jpg'; 
const middleImage = '/src/assets/student using simulator 2.jpg'; 
const rightBgImage = '/src/assets/student using simulator 2.jpg';

const { content } = Astro.props;
---

<section class="relative w-full flex h-[500px] rounded-2xl max-w-5xl mx-auto overflow-hidden mt-12">
  <!-- Left Image -->
  <div class="w-1/2">
    <img src={leftImage} alt="Left Image" class="h-full w-full object-cover"/>
  </div>

  <!-- Middle "3D" Image -->
  <!-- <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-20">
    <img src={middleImage} alt="Middle Image" class="h-[400px]"/>
  </div> -->

  <!-- Right Content -->
  <div 
    class="w-1/2 ml-auto relative flex items-center justify-center p-10 text-white" 
    style={`background-image: url(/images/stock-arun-k-XYyWvaW4gys-unsplash.jpg); background-size: cover; background-position: center;`}
  >
    <div class="bg-neutral-800/60 absolute inset-0 w-full text-center py-12 ">
      <p class="text-sm text-yellow-400 mb-2">Special offer</p>
      <h2 class="text-2xl font-bold mb-4">Meet our <span class="text-blue-500">Care Service</span></h2>
      <p class="mb-6">for business people who appreciate time</p>
      <button class="bg-blue-500 hover:bg-blue-600 px-6 py-2 rounded text-white font-semibold">
        Read More →
      </button>
    </div>
  </div>
</section>
